<!DOCTYPE suite SYSTEM "http://beust.com/testng/testng-1.0.dtd" >

<suite name="JCommander">

  <test name="JCommander tests">
    <classes>
      <class name="bayern.steinbrecher.jcommander.command.CommandTest" />
      <class name="bayern.steinbrecher.jcommander.command.CommandAliasTest" />
      <class name="bayern.steinbrecher.jcommander.ConverterFactoryTest" />
      <class name="bayern.steinbrecher.jcommander.DefaultProviderTest" />
      <class name="bayern.steinbrecher.jcommander.DefaultValueTest" />
      <class name="bayern.steinbrecher.jcommander.JCommanderTest" />
      <class name="bayern.steinbrecher.jcommander.ParametersDelegateTest" />
      <class name="bayern.steinbrecher.jcommander.dynamic.DynamicParameterTest" />
      <class name="bayern.steinbrecher.jcommander.VariableArityTest" />
      <class name="bayern.steinbrecher.jcommander.MethodSetterTest" />
      <class name="bayern.steinbrecher.jcommander.PositiveIntegerTest" />
      <class name="bayern.steinbrecher.jcommander.FinderTest" />
      <class name="bayern.steinbrecher.jcommander.CmdTest" />
      <class name="bayern.steinbrecher.jcommander.DefaultUsageFormatterTest" />
      <class name="bayern.steinbrecher.jcommander.UnixStyleUsageFormatterTest" />
      <class name="bayern.steinbrecher.jcommander.StringsTest" />
      <class name="bayern.steinbrecher.jcommander.defaultprovider.EnvironmentVariableDefaultProviderTest" />
    </classes>
  </test>

</suite>

